<mat-card>
  <mat-card-title>Developpeur et developpeuse: à table !</mat-card-title>
  <mat-card-subtitle>qui mange bien code mieux !</mat-card-subtitle>
  <img mat-card-image src="https://s3.us.cloud-object-storage.appdomain.cloud/developer/default/blogs/options-to-run-kubernetes-locally/highlight.jpg">
  <mat-card-content>
    Entre séance de dev : un bon plat et une bonne boisson s'imposent.
    Qu'il sagisse de manger sur le pouce ou de prendre le temps,  "Bamba restau" saura vous satisfaire.
  </mat-card-content>
</mat-card>
